/*-- Google Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro');

/*-- HTML & Body Styles --*/

#main {
    background-color: #23395b;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000
}

.center {
    
    width: 100%;
    padding: 20px;
    background-color: #fafafa;
}

.text-align {
    text-align: center;
}

/*-- Headings --*/

#title {
    font-family: 'Fjalla One', sans-serif;
    background: #323232;
    color: #f3f3f3;
    padding: 8px;
}


.headline {
    font-family: 'Fjalla One', sans-serif;
}

/*-- Image --*/


#image {
    width: 100%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
  
#img-caption {
    text-align: center;
}

/*-- Biography --*/

#biography {
    text-align: justify;
    padding-top: 16px 12px;
    width: 100%;
    margin-top: 24px;

}

/* --  TimeLine -- */
#tribute-info{
    margin-top: 24px;
}

.timeline dt{
    float: left;
    position: relative;
    
}

.timeline dd{
    margin-left: 0;
    padding-left: 48px;
    text-align: left;
    color: #434343;
}